USE [project]
GO
/****** Object:  UserDefinedTableType [dbo].[DEPENDENT_TYPE]    Script Date: 16-02-2026 12:09:29 ******/
CREATE TYPE [dbo].[DEPENDENT_TYPE] AS TABLE(
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[RELATION_ID] [int] NULL,
	[PERCENTAGE] [varchar](10) NULL,
	[EMP_ID] [int] NULL,
	[CREATED_BY] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DEPENDENTtype]    Script Date: 16-02-2026 12:09:29 ******/
CREATE TYPE [dbo].[DEPENDENTtype] AS TABLE(
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[RELATION_ID] [int] NULL,
	[PERCENTAGE] [varchar](50) NULL,
	[EMP_ID] [int] NULL,
	[CREATED_BY] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TableTypeInsert]    Script Date: 16-02-2026 12:09:29 ******/
CREATE TYPE [dbo].[TableTypeInsert] AS TABLE(
	[FIRST_NAME] [varchar](100) NULL,
	[LAST_NAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[SALARY] [int] NULL,
	[STATE_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[MANAGER_ID] [int] NULL,
	[DATE_OF_BIRTH] [date] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[EmployeeExists]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[EmployeeExists] (@EMP_ID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Exists BIT;
    
    IF EXISTS (SELECT 1 FROM Employee WHERE EMP_ID = @EMP_ID)
    BEGIN
        SET @Exists = 1;
    END
    ELSE
    BEGIN
        SET @Exists = 0;
    END
    
    RETURN @Exists;
END
GO
/****** Object:  UserDefinedFunction [dbo].[FINDOUT_AGE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[FINDOUT_AGE] (@DATE_OF_BIRTH DATETIME)
RETURNS INT
AS
BEGIN
DECLARE @AGE AS INT

SELECT @AGE=DATEDIFF(YY,@DATE_OF_BIRTH,GETDATE())
RETURN @AGE
END
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [int] IDENTITY(1001,1) NOT NULL,
	[FIRST_NAME] [varchar](20) NULL,
	[LAST_NAME] [varchar](20) NULL,
	[EMAIL] [varchar](20) NOT NULL,
	[SALARY] [int] NULL,
	[STATE_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[MANAGER_ID] [int] NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[TODAY_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[CREATED_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LAST_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_ALL_EMPLOYEE_VIEW]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_ALL_EMPLOYEE_VIEW] AS
SELECT EMP_ID, FIRST_NAME
FROM EMPLOYEE
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION](
	[REGION_ID] [int] IDENTITY(1,1) NOT NULL,
	[REGION_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](20) NULL,
	[REGION_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE](
	[STATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATE_NAME] [varchar](20) NULL,
	[COUNTRY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_ALL_EMPLOYEE_V]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GET_ALL_EMPLOYEE_V] AS
SELECT
 E.EMP_ID,
 E.FIRST_NAME+' '+E.LAST_NAME AS FULL_NAME,
 E.SALARY,
 E.DATE_OF_BIRTH,
 --E.CREATED_DATE,
 S.STATE_NAME,
 C.COUNTRY_NAME,
 R.REGION_NAME,
 D.DEPT_NAME,
 M.FIRST_NAME+' '+M.LAST_NAME AS MANAGER_NAME
 FROM EMPLOYEE E
 INNER JOIN STATE S ON E.STATE_ID=S.STATE_ID
 INNER JOIN COUNTRY C ON S.COUNTRY_ID=C.COUNTRY_ID
 INNER JOIN REGION R ON C.REGION_ID=R.REGION_ID
 INNER JOIN DEPARTMENT D ON  D.DEPT_ID=E.DEPARTMENT_ID
 INNER JOIN EMPLOYEE M ON M.EMP_ID = E.MANAGER_ID
GO
/****** Object:  Table [dbo].[DEPENDENT_TABLE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPENDENT_TABLE](
	[DEPENDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](10) NULL,
	[LAST_NAME] [varchar](10) NULL,
	[RELATION_ID] [int] NULL,
	[PERCENTAGE] [varchar](10) NULL,
	[EMP_ID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPENDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELATION]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATION](
	[RELATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[RELATION_NAME] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RELATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [TODAY_DATE]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[COUNTRY]  WITH CHECK ADD FOREIGN KEY([REGION_ID])
REFERENCES [dbo].[REGION] ([REGION_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([RELATION_ID])
REFERENCES [dbo].[RELATION] ([RELATION_ID])
GO
ALTER TABLE [dbo].[DEPENDENT_TABLE]  WITH CHECK ADD FOREIGN KEY([RELATION_ID])
REFERENCES [dbo].[RELATION] ([RELATION_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([MANAGER_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[STATE] ([STATE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[STATE] ([STATE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[STATE] ([STATE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([STATE_ID])
REFERENCES [dbo].[STATE] ([STATE_ID])
GO
ALTER TABLE [dbo].[STATE]  WITH CHECK ADD FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  ((datediff(year,[DATE_OF_BIRTH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  ((datediff(year,[DATE_OF_BIRTH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  ((datediff(year,[DATE_OF_BIRTH],getdate())>=(18)))
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD CHECK  ((datediff(year,[DATE_OF_BIRTH],getdate())>=(18)))
GO
/****** Object:  StoredProcedure [dbo].[DETAIL_VIEW_OF_EMPLOYEE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE   PROCEDURE [dbo].[DETAIL_VIEW_OF_EMPLOYEE]
 @EMP_ID INT OUTPUT
 AS
 BEGIN
 SELECT
 E.EMP_ID
 ,E.FIRST_NAME+' '+E.LAST_NAME AS FULL_NAME
 ,E.SALARY
 ,E.EMAIL
 ,D.DEPT_NAME
 ,M.FIRST_NAME+' '+M.LAST_NAME AS MANAGER_NAME
 ,CASE WHEN DT.DEPENDENTS_COUNT IS NULL THEN 0 ELSE DT.DEPENDENTS_COUNT END AS DEPENDENTS_COUNT
 ,S.STATE_NAME
 ,C.COUNTRY_NAME
 ,R.REGION_NAME
 ,E.CREATED_DATE
 ,E.UPDATED_DATE
 --,(SELECT [dbo].[FINDOUT_AGE][E.DATE_OF_BIRTH]) AS AGE
 FROM EMPLOYEE E
 INNER JOIN STATE S ON E.STATE_ID=S.STATE_ID
 INNER JOIN COUNTRY C ON S.COUNTRY_ID=C.COUNTRY_ID
 INNER JOIN REGION R ON C.REGION_ID=R.REGION_ID
 INNER JOIN DEPARTMENT D ON  D.DEPT_ID=E.DEPARTMENT_ID
 INNER JOIN EMPLOYEE M ON M.EMP_ID = E.MANAGER_ID
 LEFT OUTER JOIN #DEPENDENT_TABLE DT ON DT.EMP_ID=E.EMP_ID
 WHERE E.EMP_ID=@EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[DETAILED_OF_EMPLOYEE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DETAILED_OF_EMPLOYEE]
 @EMP_ID INT OUTPUT
 AS
 BEGIN
 SELECT
 E.EMP_ID
 ,E.FIRST_NAME+' '+E.LAST_NAME AS FULL_NAME
 ,E.SALARY
 ,E.EMAIL
 ,D.DEPT_NAME
 ,M.FIRST_NAME+' '+M.LAST_NAME AS MANAGER_NAME
 ,CASE WHEN DT.DEPENDENTS_COUNT IS NULL THEN 0 ELSE DT.DEPENDENTS_COUNT END AS DEPENDENTS_COUNT
 ,S.STATE_NAME
 ,C.COUNTRY_NAME
 ,R.REGION_NAME
 ,E.CREATED_DATE
 ,E.UPDATED_DATE
 --,(SELECT [dbo].[FINDOUT_AGE][E.DATE_OF_BIRTH]) AS AGE
 FROM EMPLOYEE E
 INNER JOIN STATE S ON E.STATE_ID=S.STATE_ID
 INNER JOIN COUNTRY C ON S.COUNTRY_ID=C.COUNTRY_ID
 INNER JOIN REGION R ON C.REGION_ID=R.REGION_ID
 INNER JOIN DEPARTMENT D ON  D.DEPT_ID=E.DEPARTMENT_ID
 INNER JOIN EMPLOYEE M ON M.EMP_ID = E.MANAGER_ID
 LEFT OUTER JOIN #DEPENDENT_TABLE DT ON DT.EMP_ID=E.EMP_ID
 WHERE E.EMP_ID=@EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[GET_ALL_EMPLOYEE]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ALL_EMPLOYEE] 
AS
BEGIN
 SELECT
 E.EMP_ID
 ,E.FIRST_NAME+' '+E.LAST_NAME AS FULL_NAME
 ,E.SALARY
 ,E.EMAIL
 --,(SELECT [FINDOUT_AGE] [@DATE_OF_BIRTH])AS AGE
 ,D.DEPT_NAME
 ,M.FIRST_NAME+' '+M.LAST_NAME AS MANAGER_NAME
 ,CASE WHEN DT.DEPENDENTS_COUNT IS NULL THEN 0 ELSE DT.DEPENDENTS_COUNT END AS DEPENDENTS_COUNT
 ,S.STATE_NAME
 ,C.COUNTRY_NAME
 ,R.REGION_NAME
 ,E.CREATED_DATE
 ,E.UPDATED_DATE
 FROM EMPLOYEE E
 INNER JOIN STATE S ON E.STATE_ID=S.STATE_ID
 INNER JOIN COUNTRY C ON S.COUNTRY_ID=C.COUNTRY_ID
 INNER JOIN REGION R ON C.REGION_ID=R.REGION_ID
 INNER JOIN DEPARTMENT D ON  D.DEPT_ID=E.DEPARTMENT_ID
 INNER JOIN EMPLOYEE M ON M.EMP_ID = E.MANAGER_ID
 LEFT OUTER JOIN #DEPENDENT_TABLE DT ON DT.EMP_ID=E.EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetPersonAndDpendents]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPersonAndDpendents]
@EMP_ID INT
AS
BEGIN
SELECT
E.EMP_ID
 ,E.FIRST_NAME+' '+E.LAST_NAME AS FULL_NAME
 --,(SELECT [FINDOUT_AGE] [@DATE_OF_BIRTH])AS AGE
 ,E.SALARY
 ,E.EMAIL
 ,D.DEPT_NAME
 ,M.FIRST_NAME+' '+M.LAST_NAME AS MANAGER_NAME
 ,CASE WHEN DT.DEPENDENTS_COUNT IS NULL THEN 0 ELSE DT.DEPENDENTS_COUNT END AS DEPENDENTS_COUNT
 ,S.STATE_NAME
 ,C.COUNTRY_NAME
 ,R.REGION_NAME
 ,E.CREATED_DATE
 ,E.UPDATED_DATE
FROM EMPLOYEE E
INNER JOIN STATE S ON E.STATE_ID=S.STATE_ID
 INNER JOIN COUNTRY C ON S.COUNTRY_ID=C.COUNTRY_ID
 INNER JOIN REGION R ON C.REGION_ID=R.REGION_ID
 INNER JOIN DEPARTMENT D ON  D.DEPT_ID=E.DEPARTMENT_ID
 INNER JOIN EMPLOYEE M ON M.EMP_ID = E.MANAGER_ID
 LEFT OUTER JOIN #DEPENDENT_TABLE DT ON DT.EMP_ID=E.EMP_ID
WHERE E.EMP_ID=@EMP_ID
SELECT
DT.DEPENDENT_ID,
DT.FIRST_NAME+' '+LAST_NAME AS FULL_NAME,
R.RELATION_NAME,
DT.EMP_ID
FROM DEPENDENT_TABLE DT
INNER JOIN RELATION R ON  R.RELATION_ID=DT.RELATION_ID
WHERE DT.EMP_ID=@EMP_ID
END
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployees]    Script Date: 16-02-2026 12:09:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertEmployees]
  (
  @EmployeeData  TableTypeInsert READONLY,
	@DependentsData DEPENDENT_TYPE READONLY
)
AS
BEGIN
    BEGIN TRY
        -- Insert data into Employees table
        INSERT INTO Employee (FIRST_NAME, LAST_NAME, EMAIL,SALARY,STATE_ID,DEPARTMENT_ID,MANAGER_ID,DATE_OF_BIRTH )
        SELECT FIRST_NAME, LAST_NAME, EMAIL,SALARY,STATE_ID,DEPARTMENT_ID,MANAGER_ID,DATE_OF_BIRTH
        FROM @EmployeeData;

		INSERT INTO DEPENDENT_TABLE(FIRST_NAME,LAST_NAME,RELATION_ID,PERCENTAGE,EMP_ID,CREATED_BY)
		SELECT FIRST_NAME,LAST_NAME,RELATION_ID,PERCENTAGE,EMP_ID,CREATED_BY
		FROM @DependentsData;



        -- Optionally, you can add logic here for further checks, logging, or success confirmation
        PRINT 'Data inserted successfully.';

    END TRY
    BEGIN CATCH
        -- Error handling block
        PRINT 'Error occurred during insertion: ' + ERROR_MESSAGE();
        -- Optionally, you can log the error to a custom error log table or raise an error again
        -- RAISEERROR('Error occurred: %s', 16, 1, ERROR_MESSAGE());
    END CATCH
END
GO
